@import url(../../../../../themes/lv-1871-new/resources/css/colors.min.css);

.widget_lv-icon-box,
.so-widget-lv-icon-box {
  height: 100%;
  background-color: #fff;
  position: relative;
}

.so-widget-lv-icon-box .shadowed {
  box-shadow: 0 7px 7px 0 rgb(0 0 0 / 7%);
}

.so-widget-lv-icon-box .card-image:not(.header-color) {
  padding: 21px 21px 0 21px;
  height: 90px;
}

.so-widget-lv-icon-box .lv-widget-title {
  letter-spacing: .5px;
  font-size: calc(17px * 1.18);
  margin: 0 0 12px 0;
  hyphens: auto;
}

.so-widget-lv-icon-box img {
  width: 100%;
  max-width: 90px;
  height: 70px;
}
.so-widget-lv-icon-box .flex-row img {
  width: 36px;
  height: 36px;
}

.so-widget-lv-icon-box .header-color {
  height: 130px;
  display: flex;
  align-items: center;
  width: 100%;
}

.so-widget-lv-icon-box .icon-right {
  position: absolute;
  right: 0;
}

.so-widget-lv-icon-box .icon-right + .card-body h3.lv-widget-title {
  font-family: SuisseIntl-Medium, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}
.so-widget-lv-icon-box .icon-right + .card-body .editor h3 {
  margin: 12px 0;
}

.so-widget-lv-icon-box .icon-center {
  justify-content: center;
}

.so-widget-lv-icon-box .popup-content {
  display: none;
  padding: 21px;
  background-color: #fff;
  background-image: url(../../../../../themes/lv-1871-new/resources/images/close.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: calc(100% - 5px) 10px;
}
.so-widget-lv-icon-box .popup-content:before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  margin: -12px -16px 20px 40px;
  cursor: pointer;
}
.so-widget-lv-icon-box .popup-content h3,
.so-widget-lv-icon-box .popup-content h4 {
  margin-top: 0;
}
.so-widget-lv-icon-box .show .card-body,
.so-widget-lv-icon-box .show .card-body + div {
  display: none;
}
.so-widget-lv-icon-box .show .popup-content {
  display: block;
}

.so-widget-lv-icon-box .lvw-callout__actions {
  width: 100%;
  padding-bottom: 21px;
}