:root {
  --gold: #CCA658;
  --headline: #A87E0B;
  --subline: #CD990E;
  --copy: #787878;
  --dark: #382c24;
}

.bg-gold {
  background-color: var(--gold);
}

* {
  box-sizing: border-box;
  background-origin: content-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding-top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fbfbfb;
  color: #424242;
  background-image: url(images/intensity-header-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

body {
  transition: padding-top 1s;
}

@media (max-width: 770px) {
  body {
    font-size: 16px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.flex {
  display: flex;
}

.just-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a,
#content .woocommerce a {
  text-decoration: none;
  border-bottom: 0;
}

#content a {
  color: var(--headline);
  border-bottom: 1px solid var(--headline);
}

a:hover {
  color: #000;
}

hr {
  border: none;
  border-bottom: 1px solid var(--gold);
  margin-top: 70px;
}

@media (max-width:440px) {
  hr {
    margin: 15px 0;
  }
}

em,
i {
  color: var(--subline);
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  color: var(--headline);
  font-weight: 300;
  font-size: 40px;
  margin: 0;
  line-height: 1.2;
}

h1 {
  margin-top: 70px;
}

@media (max-width: 770px) {
  .home h1 {
    color: #fff;
    text-align: center;
    padding: 0 15px;
  }

  h2 {
    font-size: 24px;
  }
}

h3 {
  color: var(--subline);
  font-weight: 400;
  font-size: 20px;
}

h2+h3,
.home .so-widget-sow-editor .widget-title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  display: block;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--gold);
}

@media (max-width: 770px) {

  h3,
  .home .so-widget-sow-editor .widget-title {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}

@media (min-width: 1330px) {

  h2+h3,
  .home .so-widget-sow-editor .widget-title {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h2+h3:after,
  .home .so-widget-sow-editor .widget-title:after {
    content: "";
    position: absolute;
    bottom: 3px;
    border-bottom: 1px solid var(--subline);
    width: 100vw;
    margin-left: 12px;
  }
}

.bullets .siteorigin-widget-tinymce ul,
.bullets .siteorigin-widget-tinymce li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bullets .siteorigin-widget-tinymce li {
  line-height: 24px;
  padding-left: 36px;
  background-image: url(images/icon-bullet.svg);
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: -36px 0;
  ;
  margin-bottom: 12px;
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  color: var(--headline);
  transition: background-color .3s;
}

@media (max-width: 1440px) {

  main#main,
  main.main,
  .site-header {
    padding: 0 21px;
  }

  section#content {
    margin-top: 12px !important;
  }
}

@media (max-width: 1330px) {

  .site-header>.container,
  .site-header .header-testimonial {
    flex-direction: column;
  }
}

@media (max-width: 1330px) {
  section#content {
    margin-top: 0 !important;
  }

  .fixed .site-header>.container {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .fixed .site-header .site-logo {
    position: relative;
    width: 33.333%;
    text-align: center;
  }

  .fixed .site-header .site-logo img {
    max-width: 100px;
  }

  .fixed .site-header .menu-main-container {
    width: 33.333%;
    height: 30px;
    margin: 0;
    background-image: url(images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }

  .site-header .menu-main-container #menu-main {
    display: none;
    position: absolute;
    left: -21px;
    top: 50px;
    background: rgb(248, 235, 212);
    background: -moz-linear-gradient(top, rgba(248, 235, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 235, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 235, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ebd4', endColorstr='#ffffff', GradientType=0);
    width: 100vw;
    flex-direction: column;
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .3);
  }

  .fixed .site-header .menu-main-container.open #menu-main {
    display: flex;
  }

  #menu-main {
    padding: 14px 0;
  }

  #menu-main li a {
    display: block;
    padding: 7px 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid transparent;
  }

  .fixed .xoo-wsc-basket {
    top: 0;
    bottom: initial;
    right: 0px;
    background-color: transparent;
    color: var(--headline);
    box-shadow: none;
    border-radius: 0;
    padding: 7px;
    z-index: -1;
  }

  .fixed .xoo-wsc-items-count,
  .fixed .xoo-wsc-sc-count {
    background-color: var(--dark);
    color: #ffffff;
  }

  .fixed .xoo-wsc-items-count {
    z-index: 12;
    top: 6px;
    left: 30px;
    width: 21px;
    height: 21px;
    line-height: 21px;
  }

  .xoo-wsc-container,
  .xoo-wsc-slider {
    width: 100%;
  }
}

html .xoo-wsc-basket {
  transition: none;
}

html .xoo-wsc-footer {
  padding-bottom: 20px;
}

html .xoo-wsc-product {
  padding: 20px;
}

html .xoo-wsc-sum-col {
  padding-left: 0;
}

html .xoo-wsc-sp-heading {
  text-align: left;
  padding-top: 0;
}

html .xoo-wsc-sp-container {
  margin: 0;
  padding: 20px;
}

html .xoo-wsc-sp-product {
  padding: 10px 0 0 0;
}

html .xoo-wsc-sp-left-col {
  line-height: 0;
}

html .xoo-wsc-sp-atc a.button {
  font-size: 16px;
  font-weight: 600;
  color: var(--headline);
  display: block;
  margin-top: 7px;
}

html .xoo-wsc-pprice .woocommerce-Price-amount {
  padding-left: 7px;
}

html .xoo-wsc-ftx-row {
  border-top: none;
  border-bottom-color: var(--gold);
}

html .xoo-wsc-ft-amt-total {
  border-top-color: var(--gold);
  border-top-style: solid;
  padding-top: 10px;
}

html .xoo-wsc-sp-container .lSAction>a {
  background-size: contain;
}

html .xoo-wsc-sl-apply-coupon input {
  padding: 12px;
}

html .xoo-wsc-sl-apply-coupon {
  justify-content: flex-end;
}

html .xoo-wsc-sl-apply-coupon .btn {
  margin-top: 21px;
}


.fixed .site-header {
  background-color: #f8ebd4;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .3);
}

.site-header .container a {
  color: var(--headline);
}

.site-header .site-logo {
  padding-top: 12px;
}

.header-testimonial {
  text-align: center;
}

@media (max-width:1330px) {
  .fixed .header-testimonial {
    display: none;
  }
}

.header-testimonial .stars {
  margin-right: 21px;
}

@media (max-width: 1330px) {

  .site-header>.container {
    flex-direction: column;
  }

  .site-header .header-testimonial {
    display: none;
  }

  .header-testimonial .stars {
    margin-right: 0;
  }
}

.header-testimonial,
.menu-main-container {
  margin-top: 24px;
  position: relative;
}

.menu,
.menu li {
  list-style-type: none;
  margin: 0;
  margin: 0;
  padding: 0;
}

#menu-main {
  counter-increment: start 0;
  display: flex;
}

#menu-main li {
  padding: 0 0 0 15px;
  position: relative;
  line-height: 1.2;
}

#menu-main li span {
  position: absolute;
  left: 0;
}

#menu-main li a {
  display: block;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid transparent;
}

#menu-main li a:hover {
  border-bottom-color: var(--headline);
}

section#content>.panel-layout>.panel-grid:first-child {
  border-radius: 7px 7px 0 0;
  min-height: 100vh;
  border-top: 2px solid var(--subline);
  border-bottom-color: transparent;
  position: relative;
  margin-top: 0;
  padding: 21px;
  overflow: hidden;
}

body[class*='woocommerce'] section#content {
  background-color: #fbfbfb50;
}

section#content>.panel-layout>.panel-grid:first-child:before,
section#content>.panel-layout>.panel-grid:first-child:after {
  content: "";
  position: absolute;
  top: 2px;
  height: 100vh;
  left: 0;
  width: 2px;
  background: -moz-linear-gradient(top, var(--subline) 50vh, #fff 100vh);
  background: -webkit-linear-gradient(top, var(--subline) 50vh, #fff 100vh);
  background: linear-gradient(to bottom, var(--subline) 50vh, #fff 100vh);
  z-index: 10;
}

section#content>.panel-layout>.panel-grid:first-child:after {
  left: initial;
  right: 0;
}

section#content>.panel-layout>.panel-grid:first-child h2 {
  max-width: 935px;
}

html .cl-flipbox-front,
html .cl-flipbox-back {
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
}

.sow-image-container img {
  border-radius: 7px;
}

#add-to-cart .price * {
  margin: 0;
}

#add-to-cart .price p {
  font-size: 16px;
}


/* FORMS */

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
select,
textarea,
.select2-container--default .select2-selection--single {
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #fff;
  transition: all .2s ease;
  color: #333;
  padding: 21px 12px 7px 12px;
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: normal !important;
  border-radius: 5px !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  transition-delay: 0s, 0s;
  transition-duration: .2s, 0s;
  transition-property: all, width;
  transition-timing-function: ease-out, ease;
  height: auto !important
}

.select2-selection {
  padding: 21px 12px 7px 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;

}

label {
  position: absolute;
  z-index: 1;
  color: #737373;
  transition: all .2s ease-out;
  font-size: 12px;
  margin-top: 0.25em;
  padding: 0 1.16em;
  line-height: 1.625;
  height: auto;
  width: auto;
  -webkit-clip-path: none;
  clip-path: none;
  clip: unset;
}

label.checkbox {
  pointer-events: initial;
  position: initial;
  font-size: initial;
  color: inherit;
  padding: 0;
  margin: 0;
  line-height: 1.2 !important;
  display: block !important;
  hyphens: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: initial;
  padding: 0;
}

/* FOOTER */
footer.site-footer {
  min-height: 410px;
  background-image: url(images/footer-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 120px;
  border-top: 1px solid var(--gold);
}

footer.site-footer .container {
  padding: 70px 30px;
}

@media (max-width:440px) {
  footer.site-footer .container {
    flex-direction: column;
  }

  footer.site-footer .container>div {
    width: 100% !important;
    margin-bottom: 30px;
  }

  footer.site-footer .container * {
    text-align: center;
  }
}

footer.site-footer .container * {
  color: var(--gold);
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

footer.site-footer .container a:hover {
  color: #333;
}

footer.site-footer .container .footer-nav-left,
footer.site-footer .container .footer-nav-right {
  width: 15%;
}

footer.site-footer .container .footer-nav-right {
  width: 35%;
}

footer.site-footer .container .footer-center {
  padding-left: 35px;
  width: 30%;
}

footer.site-footer .container .footer-right {
  width: 20%;
}

footer.site-footer .container .footer-right * {
  font-size: 32px;
}

footer.site-footer .container .footer-right .social-media-button-container a {
  width: auto;
  margin-left: 21px;
}

/* Woocommerce */

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--gold);
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: var(--headline);
}

.woocommerce table.shop_table {
  border-color: var(--gold) !important;
  border-collapse: collapse;
  border-radius: 5px;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
  border: none !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.btn {
  font-size: 1em;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 7px 21px;
  font-weight: 400;
  border-radius: 5px;
  left: auto;
  color: #fff !important;
  background-color: var(--gold);
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.btn:hover {
  background-color: var(--headline);
  color: #fff;
}

#order_wcj_checkout_field_1_field textarea {
  min-height: 110px;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
select,
textarea,
.select2-container--default .select2-selection--single {
  background: transparent;
  border-color: var(--gold) !important;
}

html .woocommerce .quantity .qty {
  padding-top: 7px;
}

html .woocommerce-checkout .shop_table {
  background-color: transparent;
  font-size: 16px;
}

html .woocommerce-checkout .woocommerce-cart-form__contents .coupon {
  display: none;
}

html .woocommerce-checkout .woocommerce-cart-form__contents .product-quantity input {
  border: none !important;
}

html .woocommerce-checkout .shop_table td.actions {
  justify-content: flex-end !important;
}

html .woocommerce-multistep-checkout ul.nav-wizard {
  padding: 0;
}

html .woocommerce-multistep-checkout ul.nav-wizard li.active a {
  color: var(--headline);
}

html .woocommerce-multistep-checkout ul.nav-wizard li.active a::before {
  background-color: var(--headline);
  border-width: 0;
}

html .woocommerce-multistep-checkout ul.nav-wizard li.active~li::before {
  background: var(--headline);
}

html .woocommerce-multistep-checkout ul.nav-wizard li a::before {
  width: 14px;
  height: 14px;
  background-color: var(--gold) !important;
  border-color: var(--gold) !important;
  top: 2px;
}

html .woocommerce-multistep-checkout ul.nav-wizard li:not(:first-child)::before {
  background: var(--gold);
  content: "";
  height: 2px;
  left: -15%;
  position: absolute;
  top: 9px;
  width: 30%;
}

html .woocommerce-multistep-checkout ul.nav-wizard li a,
html .woocommerce-multistep-checkout ul.nav-wizard li.active~li a {
  color: var(--gold);
}

html .woocommerce-checkout .shop_table thead {
  display: none;
}

html .woocommerce-checkout .shop_table tbody tr:first-child td {
  border-top: none;
}

html .woocommerce-checkout .shop_table tr,
html .woocommerce-checkout .shop_table td.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gold);
}

html .woocommerce-checkout .shop_table tr:last-child,
html .woocommerce-checkout .shop_table td.actions {
  border-bottom: none;
}

html .woocommerce-checkout .shop_table tr td {
  flex: 0 1 auto;
}

html .woocommerce-info {
  border-top-color: var(--gold);
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
}

html .woocommerce-info a,
html .woocommerce-info::before,
html #wc-stripe-payment-request-button-separator {
  color: var(--gold);
}

html .woocommerce form.checkout_coupon,
html .woocommerce form.login,
html .woocommerce form.register {
  border-color: var(--gold);
}

html .woocommerce table.shop_table th,
html .woocommerce table.shop_table td {
  padding: 12px;
}
html .woocommerce table.shop_table td.product-price {
  text-align: right !important;
}

html .woocommerce table.shop_table td.product-remove,
html .woocommerce table.shop_table td.product-thumbnail {
  display: none;
}

html #wc-stripe-payment-request-wrapper {
  padding-top: 0 !important;
}

h3#ship-to-different-address {
  margin-top: 10px;
}

html #add_payment_method #payment,
html .woocommerce-cart #payment,
html .woocommerce-checkout #payment {
  background-color: transparent;
  border: 1px solid var(--gold);
}

html #add_payment_method #payment div.payment_box,
html .woocommerce-cart #payment div.payment_box,
html .woocommerce-checkout #payment div.payment_box {
  background-color: var(--gold);
  color: #fff;
}

html #add_payment_method #payment div.payment_box::before,
html .woocommerce-cart #payment div.payment_box::before,
html .woocommerce-checkout #payment div.payment_box::before {
  border-bottom-color: var(--gold);
}

html #add_payment_method #payment div.payment_box p:first-child,
html .woocommerce-cart #payment div.payment_box p:first-child,
html .woocommerce-checkout #payment div.payment_box p:first-child {
  margin-top: 0;
}

@media (max-width:550px) {
  html .woocommerce-checkout .shop_table tr {
    flex-direction: row;
  }

  html .woocommerce table.shop_table_responsive tr td,
  html .woocommerce-page table.shop_table_responsive tr td {
    text-align: left !important;
    font-size: 14px !important;
    padding: 7px;
  }

  html .woocommerce table.shop_table_responsive tr td input {
    font-size: 14px !important;
  }

  html .woocommerce table.shop_table_responsive .product-name {
    flex: 0 0 50% !important;
  }
  html .woocommerce table.shop_table_responsive .product-price,  
  html .woocommerce table.shop_table_responsive .product-subtotal {
    flex: 0 0 20% !important;
    text-align: right !important;
  }
  html .woocommerce table.shop_table_responsive .product-quantity {
    flex: 1 0 1% !important;
    min-width: 12px !important;
  }
  html .woocommerce table.shop_table_responsive .product-quantity .qty   {
    width: auto;    
    max-width: 12px;
    padding: 3px 0;
  }

  .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent !important;
  }

  html .woocommerce table.shop_table_responsive tr td::before,
  html .woocommerce-page table.shop_table_responsive tr td::before {
    display: none;
  }
}

#payment label,
#order_review label {
  position: initial;
  color: initial;
  font-size: initial;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

#order_review ul {
  padding: 0;
}

#order-verify {
  font-size: 16px;
}

#order-verify a {
  color: var(--headline);
}

#order-verify li {
  margin-bottom: 0;
}

.woocommerce-invalid * {
  color: #c00 !important;
}

.legal.checkbox-legal {
  padding: 12px !important;
  background-color: #fff;
  border: 1px solid var(--gold);
  border-radius: 5px;
}

button#place_order {
  font-size: 24px;
  padding: 12px 36px;
  font-weight: 700;
  float: right;
}

.free-delivery-icon {
  height: 48px;
  background-image: url(images/icon-versandkostenfrei.svg);
  background-position: calc(100% + 50px) center;
  background-repeat: no-repeat;
  background-size: 80px;
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.add_to_cart_inline a.button {
  width: 100%;
  padding: 21px;
}

.add_to_cart_inline.cart-icon a.button {
  background-image: url(images/icon-cart-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 38px;
}

.add_to_cart_inline+.price {
  background-image: url(images/icon-payments.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 200px;
}

#add-to-cart .price h3+p {
  margin-top: 12px;
  line-height: 1.2;
}

#reviews.slick-reviews {
  padding: 0 30px;
}

#reviews.slick-reviews .review {
  text-align: center;
  padding: 0 7%;
}

#reviews .woo-review--author {
  text-transform: uppercase;
  font-weight: 700;
}

#reviews .comment-date {
  font-size: 14px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--gold);
}

.slick-count {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  padding: 12px 0;
  border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
  color: var(--headline);
}

.slick-count .count--current {
  padding-right: 3px;
}

.slick-count .count--all {
  padding-left: 3px;
}

@media (max-width:770px) {
  .slick-dots {
    display: none !important;
  }

  #reviews.slick-reviews {
    padding: 0;
    hyphens: auto;
  }
}

.star-rating {
  margin: 12px 0 3px;
  font-size: 14px;
  padding-top: 40px;
  background-image: url(images/five-star-0.svg);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center -40px;
}

.star-rating[data-rating="1"] {
  background-image: url(images/five-star-1.svg);
}

.star-rating[data-rating="2"] {
  background-image: url(images/five-star-2.svg);
}

.star-rating[data-rating="3"] {
  background-image: url(images/five-star-3.svg);
}

.star-rating[data-rating="4"] {
  background-image: url(images/five-star-4.svg);
}

.star-rating[data-rating="5"] {
  background-image: url(images/five-star-5.svg);
}